@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.container {
  width: 211px;
  height: 96px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  letter-spacing: 0.04em;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px; /* added margin-top to create space between title and heading */
}
.Heading {
  width: 211px;
  height: 48px;
}
