.AppService {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Icon {
    background-color: black;
    border: 11px solid #bab9bb;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.Title {
    width: 250px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
    text-align: center;
}

.Description {
    width: 249px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}