.wrapper {
    margin: 140px auto;
    position: relative;
    width: 1140px;
}

.wrapper:nth-child(3) {
    padding: 80px 0;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
    margin-top: 60px;
}

@media (max-width: 600px) {
    .wrapper {
        margin: 70px 0;
    }

    .product {
        justify-content: center;
    }
}