.main_box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
}

.box_icons {
    width: 170px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 24px;
    transition: 0.3s;
    cursor: pointer;
}

.box_icons:hover {
    background-color: #DB4444;
    color: #fff
}

.custom_icon {
    width: 56px !important;
    height: 56px !important;
}