.flexContainer {
  display: flex;
  height: 103px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 87px;
  margin-bottom: 12px;
}

.container {
  justify-content: space-between;
  align-items: center;
}

.Countdown {}