* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .CarouselName {
    height: 344px;
    width: 892px;
  }
  
  .carouselImage {
    height: 300px;
    object-fit: cover;
  }
  
  .container {
    width: 100%;
  }
  
  .carousel {
    max-width: 892px;
    width: 100%;
  }
  
  .carouselImage {
    height: 300px;
    object-fit: cover;
    margin-left: 300px;
  }
  
  .carouselCaption {
    position: absolute;
    top: 50%;
    margin-left: 80px;
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: right;
    padding-right: 16px;
  }
  
  @media only screen and (max-width: 768px) {
    .CarouselName {
      height: 200px;
      width: 100%;
    }
  
    .carouselImage {
      height: 200px;
    }
  
    .carouselCaption {
      position: relative;
      margin-left: 0px;
      top: auto;
      transform: none;
      text-align: center;
      padding-right: 0;
      margin-top: 8px;
    }
  }
  @media (max-width: 600px) {
    .carouselImage {
      margin: auto;
      margin-left: 120px;
    }
  }