.TopNav {
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    height: 48px;
    background-color: #000000;
    color: white;
    align-items: center;
    margin: auto;
}

.link {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.link:hover {
    color: rgb(173, 125, 21);
}