.TopNav {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    color: white;
    align-items: center;
    margin: auto;
    padding: 0 20px;
    width: 1440px;
}

.link {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.link:hover {
    color: rgb(173, 125, 21);
}

@media (max-width: 600px) {
    .TopNav {
        width: 520px;
    }
}