.CopyRight{
    display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #111;
  background-color: black; 
}

.CopyRight p{
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    margin: 16px 0; 
}