.FooterColumn ul {
    margin-bottom: 60px;
}

.FooterColumn li {
    font-size: 16px;
    color: #fafafa;
    list-style-type: none;
    width: 165px;
    margin-bottom: 16px;
}

.FooterColumn h3 {
    font-weight: 700;
    font-size: 24px;
    color: #fafafa;
    margin-bottom: 24px;
    margin-top: 80px;
}

.FooterColumn h4 {
    margin-bottom: 20px;
}

.FooterColumn img {
    margin-bottom: 20px;
    margin-left: 10px;
}