.Container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    width: 1170px;
}

@media (max-width: 600px) {
    .Container {
        width: 480px;
        align-items: center;
    }
}