@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 100px;
  height: 60px; /* increased height to make room for heading */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 24px; /* added margin-top to create space between title and heading */
}
.rectangle {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20px;
  height: 40px;
  background: #db4444;
  border-radius: 4px;
}
.Title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #db4444;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 36px;
}
